@model List<MyPortfolio>
@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Projeler</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">Proje</th>
                            <th scope="col" class="sort" data-sort="budget">Proje Linki</th>
                            <th scope="col" class="sort" data-sort="status">Durum</th>
                            <th scope="col">Görseller</th>
                            <th scope="col" class="sort" data-sort="completion">İlerleme Durumu</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="~/argon-dashboard-master/assets/img/theme/angular.jpg">
                                        </a>
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@item.Name</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @item.ProjectUrl
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i>
                                        @if (item.Status == true)
                                        {
                                            <span class="status">Finished</span>
                                        }
                                        else{
                                            <span class="status">Pending</span>
                                        }
                                    </span>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="@item.Name">
                                            <img alt="Image placeholder" src="@item.ImageUrl">
                                        </a>
                                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="@item.Name">
                                            <img alt="Image placeholder" src="@item.SmallImageUrl">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">@item.Progress%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @item.Progress%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
									<a class="btn btn-danger" asp-action="DeletePortfolio" asp-controller="Portfolio" asp-route-id="@item.MyPortfolioID">Sil</a>
									<a class="btn btn-success" asp-action="EditPortfolio" asp-controller="Portfolio" asp-route-id="@item.MyPortfolioID">Güncelle</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a asp-action="AddPortfolio" asp-controller="Portfolio" class="btn btn-primary">Ekle</a>
    </div>
</div>


